APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlCHARSET = utf8HOSTNAME = localhostHOSTPORT = 3306DATABASE = mucenterUSERNAME = usernamePASSWORD = passwordPREFIX = muc_DEBUG = falseFIELDS_CACHE = false[LANG]default_lang = en-us[MUCENTER]# Background login verification code switchCAPTCHA=false# Is it a demonstration environmentIS_DEMO=false# CDN configuration item groupCDN=EXAMPLE=true# Whether CSRF filtering is enabledIS_CSRF=true# Static file path prefixSTATIC_PATH=/static# Javascript file path prefixJAVASCRIPT_PATH=/static/javascript# OSS static file path prefixOSS_STATIC_PREFIX=static_easyadmin